<h3 style="text-align: center">Add Plant details</h3>
<button mat-raised-button color="warn">
  <mat-icon
    aria-hidden="false"
    aria-label="Example home icon"
    fontIcon="close"
    (click)="Close()"
  ></mat-icon>
</button>
<form [formGroup]="form" style="text-align: center" (ngSubmit)="submitForm()">
  <div mat-dialog-content>
    <div style="margin-bottom: 16px">
      <mat-form-field>
        <mat-label>Plant Name</mat-label>
        <input formControlName="plant_name" matInput />
      </mat-form-field>
    </div>
    <div style="margin-bottom: 16px">
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input formControlName="address" matInput />
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary">Submit</button>
  </div>
</form>
