<h2 style="text-align: center">Developer, Java Development</h2>
<br />
<div>
  <h4>What We'll Bring:</h4>
  <p>
    • Work closely with Engineering Manager and product team to develop
    application which integrates with other existing point solutions.
  </p>
  <p>
    • A hands-on developer with a test-driven approach to coding, contributing
    high quality, production ready code.
  </p>
  <p>
    • Resolve technical issues and bring in innovation that improves scalability
    and performance of TU products.
  </p>
</div>
<div>
  <h4>What You'll Bring:</h4>
  <p>
    • 3+ years’ experience in building Java backend services. Bachelor’s degree
    in computer science or engineering discipline
  </p>
  <p>
    • Strong coding and debugging skills with experience in backend technologies
    including one or more of the following: Java, Hibernate, Spring boot
  </p>
  <p>
    • Adept at micro services applications architecture and with hands on
    experience in design and development/ coding.
  </p>
  <p>
    • Experience with Spark, map reduce, Python, GCP, Bigquery, SQL & NoSQL
    Datastore are added advantage
  </p>
  <p>
    • Experience with continuous integration and continuous deployment tools
    including Jenkins
  </p>
  <p>• Hands on experience with code</p>
  <p>
    control and code review tools like Git, Gerrit • Strong inter-personal
    communication and collaboration skills.
  </p>
  <p>
    • A good team player, high level of personal commitment & 'can do' attitude.
  </p>
  <p>• Experience with cloud platforms like AWS/ GCP is an added advantage</p>
  <button mat-raised-button color="warn" (click)="close()">Close</button>
</div>
